.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  pointer-events: none;
}

.progressText {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  font-size: 1.5rem;
  color: rgb(114, 114, 114);
  margin: 0;
  font-size: 5rem;
}

.wave-fill {
  height: 3.125rem;
  width: 21.875rem;
  background-color: #656565;
  mask-image: url("/img/dark-ocean-logo.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
}

.loaderContainer span {
  display: block;
  width: 100%;
}

.deep-water {
  background: #ffffff;
  height: 200px;
}

.water {
  animation-delay: 0s;
  animation: water-animation 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
  will-change: transform;
}
.wave {
  height: 1.3rem;
  background: url("/img/wave.svg");
  background-size: contain;
  animation-delay: 0s;
  animation: wave-animation 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
  will-change: background-position;
}

@keyframes water-animation {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(-10%);
  }
}

@keyframes wave-animation {
  0% {
    background-position: -5% 0;
  }
  10% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@media screen and (max-width: 700px) {
  .progressText {
    position: absolute;
    left: 50%;
    bottom: 3rem;
    transform: translate(-50%, 0);
    color: rgb(114, 114, 114);
    margin: 0;
    font-size: 3rem;
  }

  .wave-fill {
    height: 3.125rem;
    width: 15.875rem;
  }
}
